VITE_SUPABASE_URL=https://conircnlmldccyerpjop.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvbmlyY25sbWxkY2N5ZXJwam9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjExMzQsImV4cCI6MjA5MTkzNzEzNH0.x-sRtgWtEJ4r5p1eoAevaQ6F0cJulJZ_SUeH_ItFhCM
OPENAI_API_KEY=
