GEMINI_API_KEY=AIzaSyDaqd7HytgezM2W-S2Q-T7B5esym7wkVNE
SCHEDULE_TIME=09:00
OUTPUT_DIR=output

SUPABASE_URL=https://conircnlmldccyerpjop.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvbmlyY25sbWxkY2N5ZXJwam9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjExMzQsImV4cCI6MjA5MTkzNzEzNH0.x-sRtgWtEJ4r5p1eoAevaQ6F0cJulJZ_SUeH_ItFhCM
CHILD_ID=uuid-of-the-child-optional
